@{
    ViewData["Title"] = "Home Page";
}

<p>Command result: @ViewData["CommandResult"]</p>
<p>Query result: @ViewData["QueryResult"]</p>

<p>See the Visual Studio Output window for logging of pre-processor execution.</p>
